:root {
    --navy: #27374D;
    --biege: #f0e3d0;
    --black: #000;
    --white: #fff;

    --shadow: 0 0.3em 0.6em 0 rgba(0, 0, 0, 0.5);

    --displayed-carousel-items: 3;
    --carousel-item-width: calc(1 / var(--displayed-carousel-items) * 100%)
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
}

.disabled-animation * {
    animation: none !important;
    transition: none !important;
  }

ol, ul {
	list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

a {
    color: inherit;
}

body {
    background: var(--biege);
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1 1
}

#sidebar {
    background-color: var(--navy);
    color: var(--white);
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex: 0 0 18em;
}

#info-group {
    margin-inline: 2em;
}

#info-group img {
    width: 10em;
    border-radius: 50%;
    border: 2px solid var(--white);
}

#info-group h1 {
    margin: 0.5em;
}

#info-group p {
    text-wrap: wrap;
}

#nav-group a {
    font-size: 1.25em;
    padding: 1em;
    display: block;
}

#nav-group a:hover {
    background-color: var(--biege);
    color: var(--black);
}

#link-group {
    margin-inline: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 1.5em;
}

#link-group a:hover {
    color: #f0e3d0;
}

.banner {
    width: 100%;
    height: 15em;
    object-fit: cover;
    box-shadow: var(--shadow)
}

#main-content {
    margin: auto;
    margin-top: 5em;
    width: 55em;
}

#project-section h2 {
    margin-bottom: 1em;
    text-align: center;
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel > div > button {
    height: 2em;
    width: 2em;
    margin: auto 0 auto 0;
    font-size: 2em;
    background: none;
    color: var(--navy);
}

#carousel-track {
    display: flex;
    overflow: hidden;
    margin: 0 1em 0 1em;
}

.carousel-item {
    padding: 1em;
    flex: 0 0;
    flex-basis: var(--carousel-item-width);
    transition: 1s;
}

.carousel-radio-container {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.carousel-radio-container input[type='radio'] {
    margin: 0.25em;
    accent-color: var(--navy);
}

.project-card {
    background-color: var(--white);
    border-radius: 1em;
    height: 20em;
    box-shadow: var(--shadow)
}

.project-card img {
    width: 100%;
    height: 8em;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.card-text {
    padding: 0 1em 1em 1em;
    font-size: 0.75em;
}

.divider {
    height: 1px;
    width: 100%;
    margin: 6em 0 6em 0;
    background-color: var(--navy);
}

.spacer {
    height: 500px;
    margin: auto;
}

.footer {
    bottom: 0;
    height: 10em;
    width: 100%;
    background-color: #c4b8a6;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1920px) {
    body {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 1280px) {
    #sidebar {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #main-content {
        width: 80vw;
    }

    :root {
        --displayed-carousel-items: 2;
    }

}

@media screen and (max-width: 736px) {
    :root {
        --displayed-carousel-items: 1;
    }

}

/* 1680px 1280px 1024px 736px 480px */