:root {
    --navy: #27374D;
    --biege: #f0e3d0;
    --black: #000;
    --white: #fff;

    --shadow: 0 0.3em 0.6em 0 rgba(0, 0, 0, 0.5);

    --displayed-carousel-items: 3;
    --carousel-item-width: calc(1 / var(--displayed-carousel-items) * 100%)
}

* {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
}

.disabled-animation * {
    animation: none !important;
    transition: none !important;
  }

ol, ul {
	list-style: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    & {
        background-color: #e9e9ed;
    }
    &:hover {
        background-color: #d0d0d7;
    }
    &:active {
        background-color: #b1b1b9;
    }
}

body {
    background: var(--biege);
    font-family: "Inter", sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
}

#sidebar {
    background-color: var(--navy);
    color: var(--white);
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex: 0 0 18em;

    #info-group {
        margin-inline: 2em;
    
        img {
            width: 10em;
            border-radius: 50%;
            border: 2px solid var(--white);
        }
    
        h1 {
            margin: 0.5em;
        }
    
        p {
            text-wrap: wrap;
        }
    }
    
    #nav-group {
        a {
            font-size: 1.25em;
            padding: 1em;
            display: block;
        }
    
        .active a {
            background-color: var(--biege);
            color: var(--black);
        }
    }
    
    #link-group {
        margin-inline: 50px;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        font-size: 1.5em;
    
        a:hover {
            color: #f0e3d0;
        }
    }
}

#main-content {
    margin: auto;
    width: 60em;

    .section {
        padding: 8em 2em 8em 2em;
    }

    #about-section p {
        width: 80%;
        line-height: 2em;
        background-color: var(--white);
        border-radius: 1em;
        padding: 1em;
        box-shadow: var(--shadow);
    }

    #skill-section h2 {
        margin-inline: auto;
    }

    #project-section {
        padding-inline: 0;

        h2 {
            margin-inline: auto;
        }
    }

    #contact-section {
        .contact-container {
            border-radius: 1em;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            height: 20em;
            box-shadow: var(--shadow);
        }

        form {
            padding: 1em;
            background-color: white;
            display: flex;
            flex-direction: column;

            h4 {
                margin-left: 0.5em;
            }

            button, input, textarea {
                margin: 0.5em;
                padding: 0.25em;
                border: var(--black) solid 2px;
                border-radius: 0.5em;
            }

            textarea {
                flex-grow: 1;
            }

        }

        .icon {
            font-size: 1.5em;
            margin-right: 0.5em;
        }

        .icon:hover {
            color: var(--biege);
        }

        .information-container {
            padding: 1em;
            padding-left: 1.5em;
            background-color: var(--navy);
            height: 100%;
            flex-grow: 1;
            color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & > div {
                margin-top: 1em;
            }
        }
    }
}

.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;

    .carousel-button-left, .carousel-button-right {
        width: 3em;
        padding: auto 0 auto 0;
        z-index: 999;
        font-size: 3em;
        color: var(--navy);
    }

    .carousel-button-left:hover, .carousel-button-right:hover {
        cursor: pointer;
    }

    .carousel-button-left {
        background: linear-gradient(90deg, rgba(240,227,208,1) 50%, rgba(255,0,0,0) 70%);
    }
    
    .carousel-button-right {
        background: linear-gradient(270deg, rgba(240,227,208,1) 50%, rgba(255,0,0,0) 70%);
    }

    #carousel-track {
        margin: 0 -2em 0 -2em;
        display: flex;
        overflow: hidden;
    }
    
    .carousel-item {
        padding: 1em;
        flex: 0 0;
        flex-basis: var(--carousel-item-width);
        transition: 1s;
    }
    
    .carousel-indicator-container {
        display: flex;
        flex-direction: row;
        margin: auto;
    }
    
    .carousel-indicator {
        margin: 0.25em;
        height: 0.8em;
        width: 0.8em;
        background-color: var(--white);
        box-shadow: 0 0 0 0.1em var(--navy);
        border: 0.1em solid var(--white);
        border-radius: 50%;
    }

    .carousel-indicator:hover {
        cursor: pointer;
    }
    
    .carousel-indicator.active {
        background-color: var(--navy);
    }
}

.project-card {
    background-color: var(--white);
    height: 20em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: 0.1s;

    img {
        width: 100%;
        height: 8em;
        object-fit: cover;
        border-bottom: solid 2px var(--black);
    }

    div {
        padding: 0 1em 1em 1em;
        font-size: 0.75em;
    }

    h4 {
        border-bottom: var(--black) 0.1em solid;
        width: fit-content;
        margin-bottom: 0.5em;
    }

    &:hover {
        transform: scale(0.99);
    }
}


.skill-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    li {
        margin: auto;
    }
}

.skill-card {
    background-color: var(--white);
    height: 12em;
    width: 12em;
    margin: 1em;
    padding: 2em ;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: var(--shadow);

    img {
        width: fit-content;
        height: 100%;
        margin: auto;
    }
}

.underscore-header {
    width: fit-content;
    padding: 0 0.5em 0.5em 0.5em;
    border-bottom: var(--black) 5px solid;
    margin-bottom: 1em;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-fill {
    flex: 1 1
}

.banner {
    width: 100%;
    height: 10em;
    object-fit: cover;
    box-shadow: var(--shadow)
}

.divider {
    height: 2px;
    width: 100%;
    background-color: var(--navy);
}

.footer {
    bottom: 0;
    height: 8em;
    width: 100%;
    margin-top: 10em;
    background-color: #d4c6ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1920px) {
    body {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 1680px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 1280px) {
    #sidebar {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    #main-content {
        width: 80vw;
    }

    #main-content {
        #about-section h2 {
            margin-inline: auto;
        }

        #about-section p {
            width: 100%;
            text-align: center;
        }

        #contact-section {   
            form {
                div {
                    display: flex;
                    flex-direction: column;
                }
    
                input, textarea {
                    margin: 0.5em;
                    padding: 0.25em;
                    border: var(--black) solid 2px;
                    border-radius: 0.5em;
                }
            }
        }
    }

    :root {
        --displayed-carousel-items: 2;
    }
}

@media screen and (max-width: 736px) {
    #main-content #skill-section {
        font-size: 0.75em;
    }

    #main-content #contact-section .contact-container {
        flex-direction: column;
        height: fit-content;
    }

    :root {
        --displayed-carousel-items: 1;
    }
}

/* 1680px 1280px 1024px 736px 480px */